<div class="row mt-3">
  <div class="col">
      <h3>Users</h3>
  </div>
</div>
<!--<app-loading [loading]="this.loading" [error]="this.error">-->
  <div class="row mt-3">
      <div class="col">
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Email</th>
                      <th scope="col">Name</th>
                      <th scope="col">Active</th>
                      <th scope="col">Role</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of this.users; let i = index">
                  <th>{{i + 1}}</th>
                  <th>{{user.email}}</th>
                  <th>{{user.displayName}}</th>
                  <th></th>
                  <th></th>
                </tr>
                <!--
                  <tr *ngFor="let skill of skills; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                          <div *ngIf="!(actualizar && i === indexSelected)">{{skill.name}}</div>
                          <div class="input-group mb-3" *ngIf="actualizar && i === indexSelected">
                              <select class="form-control form-control-sm" id="inputGroupSelectHabilidad"
                                  name="inputGroupSelectHabilidad" (change)="selectChangeHandler($event)">
                                  <option selected>Seleccione...</option>
                                  <option [value]="item" *ngFor="let item of skillsNames"
                                      [selected]="item ===skill.name">
                                      {{ item }}
                                  </option>
                              </select>
                          </div>
                      </td>
                      <td>{{ skill.exp.name }}</td>
                      <td>{{ skill.level.name }}</td>
                      <td>
                          <div *ngIf="!(actualizar && i === indexSelected)">
                              <button class="btn btn-danger btn-sm mr-1" (click)="deleteSkill(i)">Delete</button>
                              <button class="btn btn-primary btn-sm"
                                  (click)="actualizarSkill(i); indexSelected = i">Edit</button>
                          </div>
                          <div *ngIf="(actualizar && i === indexSelected)">
                              <button class="btn btn-success btn-sm"
                                  (click)="ejecutarActualizarSkill(i); indexSelected = undefined">Save</button>
                          </div>
                      </td>
                  </tr>
                  -->
              </tbody>
          </table>
      </div>
  </div>
<!--</app-loading>-->