<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">
    <img
      src="https://static.wixstatic.com/media/1cbd15_365ed530bdb843248cc8e39024a7a98a~mv2.png/v1/fill/w_362,h_217,al_c,q_85/1cbd15_365ed530bdb843248cc8e39024a7a98a~mv2.webp"
      width="30" height="30" class="d-inline-block align-top" alt="">
    Maker<strong>Skills</strong>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="auth.authenticated">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <button class="btn nav-link dropdown-toggle btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu bg-dark">
            <div *ngFor="let item of MENU">
              <a class="dropdown-item text-light" *ngIf="auth.matchingRoles([item.role])"
                 routerLink="{{item.route}}" ngbDropdownItem>{{item.name}}</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="input-group align-content-md-center">
      <input class="form-control col-8" type="search" value="search" id="search-input">
      <span class="input-group-append">
        <div class="input-group-text bg-white"><i class="fa fa-search"></i></div>
      </span>
    </div>
    <ul class="navbar-nav ml-auto">
      <span *ngIf="auth.userData" class="navbar-text" title="{{auth.userData.email}}">
        Welcome, {{auth.userData.displayName}}!&nbsp;<app-logout></app-logout>
      </span>
    </ul>
  </div>
</nav>
