<div *ngIf="isVisible()">
  <app-error-handler [loading]="status.loading" [error]="status.error">
    <div class="row">
      <div class="col">

        <div class="row">
          <div class="col">

          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="btn btn-primary" (click)="doGoogleAuth()">Sign in with Google</button>
          </div>
        </div>

        <div class="row">
          <div class="col">

          </div>
        </div>

      </div>
      <div class="col">
        FOTO
      </div>
    </div>
  </app-error-handler>
</div>
