<br>
<br>
<br>
<ngb-tabset type="pills">
  <ngb-tab title="users">
    <ng-template ngbTabContent>
        <users></users>
    </ng-template>
  </ngb-tab>
    
  <ngb-tab title="exps">
    <ng-template ngbTabContent>
        <exps></exps>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="levels">
    <ng-template ngbTabContent>
        <levels></levels>
    </ng-template>
  </ngb-tab>
      
  <ngb-tab title="skills">
    <ng-template ngbTabContent>
        <app-skills></app-skills>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
    