<div *ngIf="auth.matchingRoles(['searcher'])">
    <div class="row mt-3">
        <div class="col">
            <h3>Email search</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <form class="input-group mb-3" [ngClass]="{'was-validated': form.dirty || form.touched}" [formGroup]="form" (ngSubmit)="searchUser()">
                <input type="email" class="form-control" placeholder="Maker's email" aria-label="Email"
                    aria-describedby="button-addon2" formControlName="email" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2"
                        [disabled]="!form.valid && search.loading">Search</button>
                </div>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" id="button-addon2" placement="top"
                        ngbTooltip="Find myself" [disabled]="search.loading" (click)="findMySelf()">
                        &times;
                    </button>
                </div>
                <div>
                    <span class="badge badge-danger"
                        *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
                        <ng-container *ngIf="form.controls.email.errors.required">Required
                        </ng-container>
                        <ng-container *ngIf="form.controls.email.errors.email">Hey! Give us a valid email
                        </ng-container>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>