<div class="row mt-3">
    <div class="col">
        <h3>Profile Skills</h3>
    </div>
</div>
<app-loading [loading]="this.loading" [error]="this.error">
    <div class="row mt-3">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Skill</th>
                        <th scope="col">Exp</th>
                        <th scope="col">Level</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let skill of skills; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            <div *ngIf="!(actualizar && i === indexSelected)">{{skill.name}}</div>
                            <div class="input-group mb-3" *ngIf="actualizar && i === indexSelected">
                                <select class="form-control form-control-sm" id="inputGroupSelectHabilidad"
                                    name="inputGroupSelectHabilidad" (change)="selectChangeHandler($event)">
                                    <option selected>Seleccione...</option>
                                    <option [value]="item.name" *ngFor="let item of skillsNames"
                                        [selected]="item.name === skill.name">
                                        {{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="!(actualizar && i === indexSelected)">{{skill.exp.name}}</div>
                            <div class="input-group mb-3" *ngIf="actualizar && i === indexSelected">
                                <select class="form-control form-control-sm" id="inputGroupSelectExperiencia"
                                    name="inputGroupSelectExperiencia" (change)="selectChangeHandler($event)">
                                    <option selected>Seleccione...</option>
                                    <option [value]="item.value" *ngFor="let item of expsNames"
                                        [selected]="item.name === skill.exp.name">
                                        {{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td> 
                            <div *ngIf="!(actualizar && i === indexSelected)">{{skill.level.name}}</div>
                            <div class="input-group mb-3" *ngIf="actualizar && i === indexSelected">
                                <select class="form-control form-control-sm" id="inputGroupSelectNivel"
                                    name="inputGroupSelectNivel" (change)="selectChangeHandler($event)">
                                    <option selected>Seleccione...</option>
                                    <option [value]="item.value" *ngFor="let item of levelsNames"
                                        [selected]="item.name === skill.level.name">
                                        {{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="!(actualizar && i === indexSelected)">
                                <button class="btn btn-danger btn-sm mr-1" (click)="deleteSkill(i)">Delete</button>
                                <button class="btn btn-primary btn-sm"
                                    (click)="actualizarSkill(i); indexSelected = i">Edit</button>
                            </div>
                            <div *ngIf="(actualizar && i === indexSelected)">
                                <button class="btn btn-success btn-sm"
                                    (click)="ejecutarActualizarSkill(i); indexSelected = undefined">Save</button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="agregar">
                        <th scope="row"></th>
                        <td>
                            <div class="input-group mb-3">
                                <select class="form-control form-control-sm" id="inputGroupSelectHabilidad"
                                    name="inputGroupSelectHabilidad" (change)="selectChangeHandler($event)">
                                    <option selected>Seleccione...</option>
                                    <option [value]="item.name" *ngFor="let item of skillsNames">{{item.name}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <select class="form-control form-control-sm" id="inputGroupSelectExperiencia"
                                    name="inputGroupSelectExperiencia" (change)="selectChangeHandler($event)">
                                    <option selected>Seleccione...</option>
                                    <option [value]="item.value" *ngFor="let item of expsNames">{{item.name}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <select class="form-control form-control-sm" id="inputGroupSelectNivel"
                                    name="inputGroupSelectNivel" (change)="selectChangeHandler($event)">
                                    <option selected>Seleccione...</option>
                                    <option [value]="item.value" *ngFor="let item of levelsNames">{{item.name}}</option>                                
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary btn-sm" (click)="this.agregar=true" *ngIf="!agregar">Add</button>
            <button class="btn btn-success btn-sm mr-1" (click)="addItem()" *ngIf="agregar">Save</button>
            <button class="btn btn-danger btn-sm" (click)="cancelAddItem()" *ngIf="agregar">Cancel</button>
        </div>
        <div class="col">
            <app-skills-chart [skills]="skills"></app-skills-chart>
        </div>
    </div>
</app-loading>