<div class="row">
    <div class="col mt-3">
        <h3>Profile Skills</h3>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">habilideichon</th>
                    <th scope="col">experiencia</th>
                    <th scope="col">nivel</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let skill of skills; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{skill.habilidad}}</td>
                    <td>{{skill.experiencia}}</td>
                    <td>{{skill.nivel}}</td>
                </tr>
                <tr *ngIf="agregar">
                    <th scope="row"></th>
                    <td>
                      <div class="input-group mb-3">
                      <select class="form-control form-control-sm" id="inputGroupSelectHabilidad"
                       name="inputGroupSelectHabilidad"
                      (change) = "selectChangeHandler($event)"> 
                      <option selected>Seleccione...</option>        
                          <option [value]="item" *ngFor="let item of skillsNames">{{item}}</option>      
                        </select>
                      </div>
                    </td>
                    <td><div class="input-group mb-3">
                    <select class="form-control form-control-sm" id="inputGroupSelectExperiencia"
                    name="inputGroupSelectExperiencia"
                    (change) = "selectChangeHandler($event)">
                        <option selected>Seleccione...</option>
                        <option value="1 año">1 año</option>
                        <option value="2 años">2 años</option>
                        <option value="3 años">3 años</option>
                      </select>
                    </div></td>
                    <td><div class="input-group mb-3">
                    <select class="form-control form-control-sm" id="inputGroupSelectNivel"
                    name="inputGroupSelectNivel"
                    (change) = "selectChangeHandler($event)">
                        <option selected>Seleccione...</option>
                        <option value="Junior">Junior</option>
                        <option value="Medio">Medio</option>
                        <option value="Senior">Senior</option>
                      </select>
                    </div></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary btn-sm" (click)="this.agregar=true" *ngIf="!agregar">Nueva Habilidad</button>
        <button class="btn btn-success btn-sm" (click)="addItem()" *ngIf="agregar">Agregar</button>
        <button class="btn btn-danger btn-sm" (click)="cancelAddItem()" *ngIf="agregar">Cancelar</button>
    </div>
</div>


<div class="row">
    <div class="col mt-3">
        <h3>Profile Skills # Data from firestore :)</h3>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">habilideichon</th>
                    <th scope="col">experiencia</th>
                    <th scope="col">nivel</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let skill of skills2; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{skill.name}}</td>
                    <td>{{skill.exp.name}}</td>
                    <td>{{skill.level.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
