<div class="row mt-3">
  <div class="col">
    <app-error-handler [loading]="state.loading" [error]="state.error">
      <div class="row mt-3">
        <ng-container *ngFor="let tag of tags">
          <div class="col-12 col-xl-4">
            <div class="mb-3 p-3 border border-primary rounded">
              # {{ tag.name }}
              <ngb-rating *ngIf="true" class="pull-right" placement="top" ngbTooltip="Level" [max]="5" [rate]="3">
              </ngb-rating>
              <fa *ngIf="false" name="plus-circle" class="pull-right"></fa>
              <ng-container *ngFor="let skill of tag.skills">
                <p>{{ skill.name }}</p>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </app-error-handler>
  </div>
</div>
