<div *ngIf="loading" class="{{settings.place}}">
  <div class="{{settings.style}} {{settings.type}}" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-content *ngIf="!loading && !error"></ng-content>
<div *ngIf="error && !loading">
  <div class="alert {{error.type}} alert-dismissible fade show" role="alert">
    {{ error.message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>