/* You can add global styles to this file, and also import other style files */

/* Here you can override Bootstrap Variables.   // bootstrap/scss/_variables.scss
 */

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

// Colors Pallet

$blue: #087bb4 !default; // (MakerSkills Pallet.)
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ed0722 !default; // (MakerSkills Pallet.)
$orange: #fd7e14 !default;
$yellow: #f5a623 !default; // (MakerSkills Pallet.)
$green: #94c166 !default; // (MakerSkills Pallet.)
$teal: #20c997 !default;
$cyan: #019cd5 !default; // (MakerSkills Pallet.)

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800
  ),
  $colors
);

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "purple": $purple,
    "indigo": $indigo,
    "orange": $orange
  ),
  $theme-colors
);

@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// TODO estos estilos deberian ir en navbar search scss
// ... pero no funciona ya que los templates agregan
// un property a cada elemento y luego se compilan los
// estilos con la property y .. no funciona .. :)
// ... ademas debemos arreglar los estilos responsive
@media (min-width: 1200px) {
  .nav-search-popover {
    width: 100% !important;
    max-width: 38em !important;
  }
}
@media (min-width: 992px) {
  .nav-search-popover {
    width: 100% !important;
    max-width: 38em !important;
  }
}
