/* You can add global styles to this file, and also import other style files */

/* Here you can override Bootstrap Variables.   // bootstrap/scss/_variables.scss
Ex:

 $primary: red;
 $secondary: #ffffff;

 */


// Colors Pallet

$blue:    #087BB4 !default;  // (MakerSkills Pallet.)
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ED0722 !default;  // (MakerSkills Pallet.)
$orange:  #fd7e14 !default;
$yellow:  #F5A623 !default;  // (MakerSkills Pallet.)
$green:   #94C166 !default;  // (MakerSkills Pallet.)
$teal:    #20c997 !default;
$cyan:    #019CD5 !default;  // (MakerSkills Pallet.)



@import "~bootstrap/scss/bootstrap";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
