
<div class="row mt-3">
    <div class="col">
        <form class="input-group mb-3" [formGroup]="form" (ngSubmit)="searchUser()">
            <input type="text" class="form-control" placeholder="Maker's email" aria-label="User" aria-describedby="button-addon2" formControlName="email">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2" [disabled]="!form.valid && search.loading">Search</button>
            </div>
        </form>
    </div>
</div>