<ng-container [formGroup]="search.form">
  <input class="form-control col-8" autocomplete="off" type="search" placeholder="Find your maker!"
    [ngbPopover]="popContent" [autoClose]="'outside'" placement="bottom" formControlName="text">
  <span class="input-group-append">
    <div class="input-group-text bg-white"><i class="fa fa-search"></i></div>
  </span>
  <ng-template #popContent>
    <div class="row">
      <div class="col">
        <div class="clearfix">
          <ng-container *ngFor="let tag of tagsSelected">
            <span class="badge badge-primary float-left mr-1"># {{ tag.name }}</span>
          </ng-container>
          <a href="#" class="float-right text-muted"><u>SEE MORE</u>
            <fa name="plus-circle"></fa>
          </a>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
      <div class="col">
        <img src="{{auth.userData.photoURL}}" width="35" height="35" class="rounded-circle">
      </div>
    </div>
  </ng-template>
</ng-container>
