<ng-container [formGroup]="search.form">
  <input class="form-control col-8" autocomplete="off" type="search" placeholder="Find your maker!"
    [ngbPopover]="popContent" [autoClose]="'outside'" placement="bottom-left" [popoverClass]="'nav-search-popover'"
    formControlName="text">
  <span class="input-group-append">
    <div class="input-group-text bg-white"><i class="fa fa-search"></i></div>
  </span>
  <ng-template #popContent>
    <div class="row">
      <div class="col">
        <div class="clearfix">
          <ng-container *ngFor="let searchTag of search.tags">
            <span class="badge badge-{{ searchTag.bg }} float-left mr-1"># {{ searchTag.tag.name }}</span>
          </ng-container>
          <a href="#" class="float-right text-muted"><u>SEE MORE</u>
            <fa name="plus-circle"></fa>
          </a>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="clearfix">
          <ng-container *ngFor="let userTag of search.usersTag">
            <div class="float-left mr-3 text-center">
              <a [routerLink]="['profile']" [queryParams]="{ email: userTag.user.email }">
                <img src="{{userTag.user.photoURL}}" width="35" height="35" class="rounded-circle" [ngbPopover]="userPop"
                triggers="mouseenter:mouseleave">
                <ng-template #userPop>
                  {{userTag.user.displayName}}
                </ng-template>
              </a>
              <ng-container *ngFor="let tagLevel of userTag.tags">
                <br>
                <ngb-rating [readonly]="true" placement="bottom"
                  [ngbTooltip]="'# ' + tagLevel.tag.name + ' Level: ' + (tagLevel.avgLevels | number) + '!'" [max]="5"
                  [rate]="tagLevel.avgLevels" class="text-{{tagLevel.bg}}"></ngb-rating>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
