<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Ops! Restricted area</h1>
            <p class="lead">You currently do not have sufficient privileges to access this functionality.</p>
            <hr class="my-4">
            <p>Please contact the system administrator for more details.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
    </div>
</div>
