<div class="row" *ngIf="!this.addSkill">
  <label class="col-10 col-form-label">&nbsp;</label>
  <div class="col-2">
    <button type="button" class="btn btn-primary btn-circle" (click)="viewAddSkillForm()">
      +
    </button>
  </div>
</div>

<app-error-handler [loading]="loading.skills" [error]="error.skills">
  <div class="row mt-3">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Active</th>
          <th scope="col">Tags</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let skill of skillsFront; let i = index">
          <tr>
            <th scope="row">{{i}}</th>
            <th scope="row">{{skill.name}}</th>
            <th align="center">
              <ng-container>
                <app-error-handler [loading]="skill.loading" [error]="error.activarSkillr">
                <div class="btn-group btn-group-toggle">
                  <label [ngClass]="{'btn-success': skill.active, 'btn-danger': !skill.active}" ngbButtonLabel>
                    <input type="checkbox" ngbButton (click)="onClick(skill)">
                    <span>{{skill.active ? 'Activo' : 'Inactivo'}}</span>
                  </label>
                </div>
                </app-error-handler>
              </ng-container>
            </th>
            <th scope="row">
              <ng-container *ngFor="let tag of skill.tags">
                <span class="badge badge-primary mr-1">{{tag.name}}</span>
              </ng-container>
            </th>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</app-error-handler>
