.skill {
  border-style: groove;
  display:inline-block;
  margin: 10px;
}

.skill-header {
  border-style: none;
  text-align: center;
}

.skill-tags {
  border-style: none;
}

.skill-footer {
  border-style: none;
  text-align: center;
}

.tag-close {
  width: 15px;
  height: 15px;
}

.badge-info.tag-hover:hover {
  background-color: #1390a3;
}

.badge-info.tag-hover:active{
  background-color: #0f6875;
}
